<h1>The Tools</h1>

<% @tools.each do |tool| %>
  <h3><%= link_to tool.tool_name, "/tools/#{tool.id}" %></h3>

    <%= link_to "Update", "/tools/#{tool.id}/edit", method: :get %><br>
    <%= link_to "Delete", "/tools/#{tool.id}", method: :delete %>

    <p>Description: <%= tool.description %></p>
    <p>Available: <%= tool.available %>

<% end %>



