<a href="/tools">Back to Tools</a>
<p><a href="/sheds">Back to Sheds</a></p>


  <h1><%= @tool.tool_name %></h1>

    <p>Shed ID: <%= @tool.shed_id %></p>  
    <p>Tool Name: <%= @tool.tool_name %></p>
    <p>Description: <%= @tool.description %></p>
    <p>Available: <%= @tool.available %></p>