<a href="/sheds">Back to Sheds</a>

<%= form_with url: "/sheds", method: :post, local: true do |form| %>
  <%= form.hidden_field :authenticity_token, value: form_authenticity_token %>
  <p>Add Shed Name:</p>
  <%= form.text_field :name %><br/>
  <p>Add City Name:</p>
  <%= form.text_field :city %><br/>
  <p>What color is it?</p>
  <%= form.text_field :color %><br/>
  <p>Check the box if there is space available:</p>
  <%= form.check_box :space_available %><br/>
  <%= form.submit 'Create Shed' %>
<% end %>



