<h1><%= @shed.name %></h1>

  <p>
    <%= button_to "Update #{@shed.name}", "/sheds/#{@shed.id}/edit", method: :get %>
    <%= button_to "Delete #{@shed.name}", "/sheds/#{@shed.id}", method: :delete %>
  </p>

  <p>Shed ID: <%= @shed.id %></p>  
  <p>City: <%= @shed.city %></p>
  <p>Color: <%= @shed.color %></p>
  <p>Space Available: <%= @shed.space_available %></p>
  <p>Number of Tools in <%= @shed.name %>: <%= @shed.tools.count %>

<h2><a href="/sheds/<%= @shed.id %>/tools">List of Tools</a></h2>

