<h1> Tools of <%= @shed.name %></h1>
<%= link_to "Add Tool", "/sheds/#{@shed.id}/tools/new" %><br><br>

<% @tools.each do |tool| %>

  <p> Name: <a href="/tools/<%= tool.id %>"><%= tool.tool_name %></a></p>
  <p> Description: <%= tool.description %></p>
  <p> Available: <%= tool.available %></p>

<% end %>

<a href="/sheds">Back to Sheds</a>
